:host {
  .blog-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .blog-card {
      margin: 0.625rem;

      .card-title {
        min-height: 4rem;
      }

      .blog-image {
        border-radius: 0.8rem;
        margin: 0.8rem;
      }

      .blog-footer {
        display: flex;

        .blog-author {
          flex-grow: 1;
        }
      }
    }
  }

  @media screen and (min-width: 450px) {
    .blog-container {
      width: 400px;
    }

    .blog-card {
      width: 400px;
    }
  }

  @media screen and (min-width: 841px) {
    .blog-container {
      width: 840px;
    }

    .blog-card {
      width: 400px;
    }
  }

  @media screen and (min-width: 1261px) {
    .blog-container {
      width: 1260px;
    }

    .blog-card {
      width: 400px;
    }
  }

  @media screen and (min-width: 1681px) {
    .blog-container {
      width: 1680px;
    }

    .blog-card {
      width: 400px;
    }
  }
}
